pytorch-lightning<2
omegaconf==2.2.3
pyexr
nerfacc==0.5.3
trimesh
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
PyMCubes
pyransac3d
torch_efficient_distloss
tensorboard
wandb==0.15.4
ninja
pyexr
pytest
